{% extends 'main/layout.html' %}


{% block title%}{{ title }}{% endblock %}


{% block content%}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Red Hat (с англ. — «красная шляпа») — американская компания, производитель программного обеспечения на основе операционной системы Linux: Red Hat Enterprise Linux (распространяется по годовой подписке) и Fedora.
            Кроме дистрибутивов Linux выпускала ряд системных и платформенных программных продуктов на основе открытого программного обеспечения, в том числе среду компиляции и выполнения приложений Linux под Windows — Cygwin, линейку связующего программного обеспечения под маркой JBoss, систему управления виртуализацией RHEV[en], дистрибутив Kubernetes OpenShift[en], программно-определяемые сети хранения Ceph и GlusterFS. В числе услуг, оказываемых компанией, техническая поддержка, обучение системных администраторов и разработчиков, приём практических лабораторных экзаменов (таких как RHCT и RHCE).
            Главный офис — в городе Роли (Северная Каролина). В 2019 году поглощена корпорацией IBM.</p>
        <button class="btn btn-warning">На странице про нас все</button>
        
        {% for val in values %}
            {% if val == 'Hello' %}
                {% filter upper %}
                    <p>{{ val }}</p>
                {% endfilter%}
            {% endif %}
        {% endfor %}

        {% for val in obj %}
            <p>{{ val }}</p>
        {% endfor %}
    </div>
{% endblock %}